<!--包含头部文件-->
{include file="public/header" /}
<div class="cl pd-5 bg-1 bk-gray mt-20"> 添加团购商品信息</div>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" method="post" enctype="multipart/form-data" action="{:url('deal/editDeal')}">
	基本信息：
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>团购名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$DealData[0]->name}" placeholder="" id="" name="name">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属城市：</label>
			<div class="formControls col-xs-8 col-sm-2"> 
				<span class="select-box">					
				<select name="city_id" class="select cityId">
					<option value="0">--请选择--</option>
					{volist name="province" id="vo"}
					<option value="{$vo.region_id}"  {if condition="$DealData[0]->city_id eq $vo.region_id"} selected="selected" {/if} >{$vo.region_name}</option>
					{/volist}
				</select>
				</span>
			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="se_city_id" class="select se_city_id">
					<option value="{$se_cityInfo.region_id}">{$se_cityInfo.region_name}</option>
				</select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属分类：</label>
			<div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
				<select name="category_id" class="select categoryId">
					<option value="0">--请选择--</option>
					{volist name="categorys" id="vo"}
					<option value="{$vo.id}" {if condition='$DealData[0]->category_id eq $vo.id'} selected='selected' {/if}>{$vo.name}</option>
					{/volist}
				</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属子类：</label>
			<div class="formControls col-xs-8 col-sm-3 skin-minimal">
				<div class="check-box se_category_id">
					{volist name="se_categorys" id="vo"}
					<input name="se_category_id[]" type="checkbox" {if condition='$DealData[0]->se_category_id eq $vo.id'} checked="checked" {/if} value="{$vo.id}"/>{$vo.name}
					<label for="checkbox-moban">&nbsp;</label>
					{/volist}
				</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-9 col-sm-2">支持门店：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
				{volist name='bislocation' id='vo'}
				<input name="location_ids[]" type="checkbox" id="checkbox" {if condition='$DealData[0]->location_ids eq $vo.id'} checked="checked" {/if} value="{$vo.id}"/>{$vo.name}
				{/volist}
				</div>
			</div>
		</div>
	
		<div class="row cl">
              <label class="form-label col-xs-4 col-sm-2">缩略图：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <img style="display: block;" id="upload_org_code_img" src="{$DealData[0]->image}" width="150" height="150">
              </div>
        </div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购开始时间：</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$DealData[0]->start_time|date='y-m-d',###}"  > 

			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购结束时间:</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$DealData[0]->end_time|date='y-m-d',###}"  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">库存数:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" placeholder="" id="" name="total_count" value="{$DealData[0]->total_count}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">原价:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$DealData[0]->origin_price}" placeholder="" id="" name="origin_price">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购价:</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$DealData[0]->current_price}" placeholder="" id="" name="current_price">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">消费券生效时间：</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="coupons_begin_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$DealData[0]->coupons_begin_time|date='y-m-d',###}"  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">消费券结束时间:</label>
			<div class="formControls col-xs-8 col-sm-3">
				
				<input type="text" name="coupons_end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$DealData[0]->coupons_end_time|date='Y-m-d',###}"  >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">团购描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor"  type="text/plain" name="description" style="width:80%;height:300px;">{$DealData[0]->description}</script> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">购买须知：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<script id="editor2"  type="text/plain" name="notes" style="width:80%;height:300px;">{$DealData[0]->notes}</script> 
			</div>
		</div>
	</form>
</article>
<script>
/**定义页面全局变量**/
var SCOPE = {
	"city_url" : "{:url('api/city/getCitysByParentId')}",
	"category_url" : "{:url('api/category/getCategorysByParentId')}",
	"uploadify_swf" : "__STATIC__/admin/uploadify/uploadify.swf",
    "image_upload" : "{:url('api/image/upload')}",
};

</script>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
<script>
$(function(){
	var ue = UE.getEditor('editor');
	var ue = UE.getEditor('editor2');
});
</script>
</body>
</html>